.button {
  display: inline-block;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 0.8em 1.5em;
  border: none;
  color: white;
  transition: 0.2s;
  text-decoration: none;
  border: white solid 1px;
  text-transform: uppercase;
  letter-spacing: 1px; 
  opacity: 0.95;

   padding-right: 3.5em;
  cursor: pointer;
  
}
.button:before,
.button:after {
  position: absolute;
  padding-top: inherit;
  padding-bottom: inherit;
  font-size: inherit;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2.8em;
  transition: 0.2s;
  transform-origin: 50% 60%;
 
}

.arrow {
  background: #3c3b6e;
}
.arrow:hover {
  background: #b22234;
}
.arrow:active,
.arrow:focus {
  background: #b22234;
}

.arrow:after {
  content: "\2794";
}

.arrow:hover:after {
  -webkit-animation: bounceright 0.3s alternate ease infinite;
  animation: bounceright 0.3s alternate ease infinite;
}

.section {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: calc(35%);
  width: 30%;
}

